# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Output
dist/
.build/
.cache/

# Strapi uploads (if using local provider)
public/uploads/

# Environment variables
.env
.cursorignore
.env.*.local

# IDE / OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
